include ../button/button

mixin addApp()
  form.app__box(id="app", @submit="send", action="https://google.com/", method="post")
    .app__button(@click="toggleRewiew")
      +addButton("Оставить отзыв", "light-blue")
    .app__rewiew(:class="[rewiewMobileClass, rewiewNextClass, rewiewSentClass, rewiewHideClass]")
      .app__inputs
        .app__top
          hr.app__handle
          .app__nav
            .app__nav-left
              .app__back.material-icons.md-24(@click="toggleNext")= "arrow_back"
              h1.app__title.app__h1= "Мой отзыв"
            .app__nav-right
              .app__close.material-icons.md-24(@click="toggleRewiew")= "close"
        .app__center
          .app__line.app__line_first
          .app__columns
            .app__column.app__column_first
              .app__doer
                .app__doer-avatar-container(src="images/724_crop_big_1.png")
                  img.app__doer-avatar(src="images/724_crop_big_1.png")
                .app__doer-info
                  h1.app__doer-service.app__h1= "Фоточки в свадебном платьице"
                  p.app__doer-name.app__p= "Алена Смирнова"
              .app__ratings
                .app__rate
                  h2.app__rate-title.app__h2= "Скорость"
                  rate(@rate-result="getRate1Value" :name="'rate-1'" :currentRate=3)
                .app__rate
                  h2.app__rate-title.app__h2= "Скорость отдачи видео"
                  rate(@rate-result="getRate2Value" :name="'rate-2'")
                .app__rate
                  h2.app__rate-title.app__h2= "Качество"
                  rate(@rate-result="getRate3Value" :name="'rate-3'")
                .app__rate
                  h2.app__rate-title.app__h2= "Пунктуальность"
                  rate(@rate-result="getRate4Value" :name="'rate-4'")
            .app__column.app__column_second
              .app__comment
                comment(@comment-result="getCommentValue" :name="'comment-1'" :max="500")
              .app__image-loader
                image-loader(@image-loader-result="getimageLoaderArray" :name="'image-loader-1'" :max="500")
        .app__bottom
          .app__line.app__line_second
          .app__buttons
            .app__button.app__button_send(@click="send")
              +addButton("Отправить", "light-blue")
            .app__button.app__button_next(@click="toggleNext")
              +addButton("Продолжить", "light-blue")
      .app__alert(@click="toggleRewiew")
        +addButton("Спасибо, отзыв опубликован!", "green", true)